/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

* {
    /* border: 1px solid grey; */
}
/* General element styles */
body {
    background-color: #ffbcbc;
    padding: 1% 7%;
    font-family: 'Montserrat', sans-serif; 
}

h1 {
    color: #363636;
    font-size: 4rem; 
    text-transform: uppercase; 
}

h2 {
    color: #363636;
    font-size: 2rem;
    text-transform: uppercase; 
}

a {
    text-decoration: none; 
}

hr {
    border: .03rem solid #363636; 
    width: 100%;
}
footer {
    display: flex; 
    justify-content: center;
}



/* class styling */

section.toptop {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    height: 35vh;
}

section.top {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center;
}

section.middle {
    display: flex;
    justify-content: center;
}

section.bottom {
    margin: 3% 0; 
    display: flex;
    justify-content: space-between;
}

/* specific elements */

@keyframes buttongradient {
    from {background-color: #b7efcd;}
    to {background-color: #363636;}
  }

nav a{
    color: #363636;
    /* border: 1px solid #363636;
    border-radius: 1px;  */
    letter-spacing: .2em;
    margin: .6em;  
}

nav a:hover {
    background-color: #363636;
    text-transform: uppercase;
    color: white; 
    animation-name: buttongradient;
    animation-duration: 5s; 
    
}

.bigimage {
    width: 100%;
}


.smallimage {
    width: 15%;
    height: 50vh; 
}

.toptext {
    line-height: 2em; 
    padding: 3%;  
}

.bottomtext{
      width: 20%;
      padding: 3%;
      line-height: 2em; 
}


footer a {
    color: #363636;
    /* border: 1px solid #363636;
    border-radius: 1px;  */
    letter-spacing: .2em; 
    margin: .6em 1.5em; 
    
}

footer a:hover {
    background-color: #363636;
    color: white; 
    text-transform: uppercase;
    animation-name: buttongradient;
    animation-duration: 5s;
}

.footdiv {
    width: 45%;
    margin: 2%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

/* Media queries */

@media (max-width:800px){
    h1 {
        text-align: center;
    }

    section.bottom {
        flex-wrap: wrap; 
    }

    .smallimage{
        width: 48%;
        margin: 1%; 
    }

    .bottomtext, .toptext {
        width: 100%; 
        text-align: center; 
    }
}

@media (max-width: 500px){
    nav {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
    }
    nav a {
        width: 40%; 
        margin: .2em;
        line-height: 1.5em;
        text-align: center; 
    }

}